*{
    background-color: aliceblue;
    background-position: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium,bolder;
}

h1{
    font-size: large;
    color: greenyellow;
}